# package directories
node_modules
jspm_packages
coverage

# Serverless directories
.serverless
node_modules

#
# local dynamoDB
DynamoDBLocal.jar
DynamoDBLocal_lib
shared-local-instance.db


# other
*.log
.DS_Store